html {
  font-size: 1em; }

body {
  margin: 40px auto;
  max-width: 660px;
  padding: 0 10px;
  background-color: white;
  font-family: "Calluna-sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

.link a {
  color: #05050f;
  text-decoration: none;
  background: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#05050f, #05050f);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  background-position-y: 88%, 88%, 88%;
  background-position-x: 0%, 100%, 0%;
  border-bottom: none; }
  .link a::hover {
    color: #7272a1; }
  .link a::selection {
    text-shadow: 0.03em 0 #ffc, -0.03em 0 #ffc, 0 0.03em #ffc, 0 -0.03em #ffc, 0.06em 0 #ffc, -0.06em 0 #ffc, 0.09em 0 #ffc, -0.09em 0 #ffc, 0.12em 0 #ffc, -0.12em 0 #ffc, 0.15em 0 #ffc, -0.15em 0 #ffc;
    background: #ffc; }
  .link a::-moz-selection {
    text-shadow: 0.03em 0 #ffc, -0.03em 0 #ffc, 0 0.03em #ffc, 0 -0.03em #ffc, 0.06em 0 #ffc, -0.06em 0 #ffc, 0.09em 0 #ffc, -0.09em 0 #ffc, 0.12em 0 #ffc, -0.12em 0 #ffc, 0.15em 0 #ffc, -0.15em 0 #ffc;
    background: #ffc; }
  .link a:before, .link a:after, .link a *, .link a *:before, .link a *:after {
    text-shadow: none; }

a {
  color: #05050f;
  border-bottom: 0.1em solid #7272a1;
  padding-bottom: .1em;
  text-decoration: none; }
  a:hover {
    color: #7272a1;
    text-decoration: none; }

header {
  margin-bottom: 3rem; }
  header h1 {
    margin: 2rem 0; }

main a {
  color: #05050f;
  text-decoration: none;
  background: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#05050f, #05050f);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  background-position-y: 88%, 88%, 88%;
  background-position-x: 0%, 100%, 0%;
  border-bottom: none; }
  main a::hover {
    color: #7272a1; }
  main a::selection {
    text-shadow: 0.03em 0 #ffc, -0.03em 0 #ffc, 0 0.03em #ffc, 0 -0.03em #ffc, 0.06em 0 #ffc, -0.06em 0 #ffc, 0.09em 0 #ffc, -0.09em 0 #ffc, 0.12em 0 #ffc, -0.12em 0 #ffc, 0.15em 0 #ffc, -0.15em 0 #ffc;
    background: #ffc; }
  main a::-moz-selection {
    text-shadow: 0.03em 0 #ffc, -0.03em 0 #ffc, 0 0.03em #ffc, 0 -0.03em #ffc, 0.06em 0 #ffc, -0.06em 0 #ffc, 0.09em 0 #ffc, -0.09em 0 #ffc, 0.12em 0 #ffc, -0.12em 0 #ffc, 0.15em 0 #ffc, -0.15em 0 #ffc;
    background: #ffc; }
  main a:before, main a:after, main a *, main a *:before, main a *:after {
    text-shadow: none; }

footer {
  margin-top: 6rem; }
