// @import "bourbon";
// @import "base/base";

@import "partials/variables";
@import "partials/typography";
@import "partials/links";

header {
  margin-bottom: 3rem;
  h1 {
    margin: 2rem 0;
  }
}

main{
  @include smart-underline();
}

.writing {
  li{
    //font-size: 1.25rem;
  }
}

.buttonTutorial{
  background: $color-bg-highlight;
  padding: 0 0.4rem;
  // border: 1px solid teal;
  font-size: 0.8rem;
}

footer{
  margin-top:6rem
}
