@import "bourbon";
//@import "base/base";
// @import "base/buttons";

@import "partials/variables";
@import "partials/typography";
@import "partials/buttons";
@import "partials/links";
@import "partials/projects";



header {
  text-align: center;
  margin-bottom: 3rem;
}

// main{
//   @include smart-underline();
// }

// header {
//     margin-bottom: 2em;
// }

ul.project_links {

}

.writing {
  margin-top: 3rem;
  ul li {
    list-style-type: none;
  }
}

.container {
  background: $color-bg-base;
  padding: 2.4em;
  border: .1em solid $color-text-alt;
  border-radius: 18px;
  box-shadow: 10px 10px 10px lighten($color-text-alt, 25);
}

footer{
  text-align: center;
  margin-top: 3rem
}
