a {
    @include transition(color 0.2s ease-in-out);
    color: $color-text-base;
    border-bottom: .1em solid $color-text-alt;
    padding-bottom: .1em;
    text-decoration: none;
  &:hover {
    color: $color-text-meta;
    text-decoration: none;
    }
  }
