.link{
  @include smart-underline();
}

a {
    //@include transition(color 0.3s ease-in-out);
    color: $color-text-base;
    border-bottom: .1em solid $color-text-alt;
    padding-bottom: .1em;
    text-decoration: none;
  &:hover {
    color: $color-text-alt;
    text-decoration: none;
    }
  }
