//Colours
$color-bg-base: rgba(244, 244, 244, 1);
$color-bg-highlight: rgba(222, 222, 222, 1);
$color-text-base: rgba(5, 5, 15, 1);
$color-text-alt: lighten(desaturate($color-text-base, 30), 50);
$color-text-meta: lighten(desaturate($color-text-base, 70), 45);

@mixin smart-underline($background: #fff, $text: $color-text-base, $selection: #ffc, $position: 88%){
  a {
    color: $color-text-base;
    text-decoration: none;
    background: -webkit-linear-gradient($background, $background), -webkit-linear-gradient($background, $background), -webkit-linear-gradient($text, $text);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background, 0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background, 0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background, -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
    background-position-y: $position,$position, $position;
    background-position-x: 0%, 100%, 0%;
    border-bottom: none;

    &::hover {
    color: $color-text-alt;
    }

    &::selection {
      text-shadow: 0.03em 0 $selection, -0.03em 0 $selection, 0 0.03em $selection, 0 -0.03em $selection, 0.06em 0 $selection, -0.06em 0 $selection, 0.09em 0 $selection, -0.09em 0 $selection, 0.12em 0 $selection, -0.12em 0 $selection, 0.15em 0 $selection, -0.15em 0 $selection;
      background: $selection;
    }
    &::-moz-selection {
      text-shadow: 0.03em 0 $selection, -0.03em 0 $selection, 0 0.03em $selection, 0 -0.03em $selection, 0.06em 0 $selection, -0.06em 0 $selection, 0.09em 0 $selection, -0.09em 0 $selection, 0.12em 0 $selection, -0.12em 0 $selection, 0.15em 0 $selection, -0.15em 0 $selection;
      background: $selection;
    }
    &:before, &:after, *, *:before, *:after {
      text-shadow: none;
    }
    // &:visited{
    //   color: inherit;
    // }
  }
}
