// Typography
$base-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$base-font-size: 1em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 0.8em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

//Colours
$color-bg-base: rgba(255, 255, 255, 1);
$color-bg-highlight: rgba(222, 222, 222, 1);
$color-text-base: rgba(5, 5, 15, 1);
$color-text-alt: lighten(desaturate($color-text-base, 30), 50);
$color-text-meta: lighten(desaturate($color-text-base, 70), 45);


// Animations
$base-duration: 150ms;
$base-timing: ease;
